body {
    font-family: Arial, sans-serif; 
    margin: 0px; 
}

.navbar { 
    background-color: #333; 
    padding: 12px 16px;
    margin: 7px;
    border-radius: 9px;
}

.navbar a { 
    text-decoration: none;
    color: white; 
    padding: 10px 8px;
}

.navbar a:hover { 
    background-color: #242424;
    transition: background-color 0.4s ease; 
    padding: 8px 8px;
    border-radius: 9px;
}

@media (max-width: 768px) { 
    .navbar {
        padding: 10px;
        margin: 5px;
    }

    .navbar a {
        padding: 8px 6px;
        font-size: 14px; 
    }
}

@media (max-width: 480px) { 
    .navbar {
        padding: 8px;
        margin: 3px;
    }

    .navbar a {
        padding: 6px 4px;
        font-size: 12px;
    }

    .navbar a:hover {
        padding: 5px 4px;
    }
}
